/* --------------Style for ABOUT Page-------------- */
.about-bg{
  background-color:rgb(191, 245, 206);
}
.palmtree{
  width:100%;
  height:auto;
}
.portrait2{
  width:100%;
  height:auto;
}
.streaming{
  width:100%;
  height:auto;
}
.center{
  text-align: center;
}
.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.resume{
  border:.5px solid rgb(0, 0, 0) !important;
  background: linear-gradient(
    120deg, 
    rgb(181, 255, 117) 00%,
    rgb(115, 236, 131) 15%,
    rgb(127, 247, 207) 30%,
    rgb(100, 255, 236)50%,
    rgb(54, 201, 238)65%,
    rgb(3, 116, 182)80%,
    rgb(122, 11, 187) 100%
    ) !important;
}
.resume:hover{
  transform: scale(1.05); 
}
.resume-title{
  margin: auto;
  padding:0;
  text-align: center;
  align-self: center;
  font-size: 50px !important;
}

.grid-container{
  display: grid;
  gap: 1rem;
  max-width: 1100px;
  margin:2rem auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 65px;
  
}
.grid-item{
  font-size: 16px;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  transition-timing-function: ease;
  text-overflow: ellipsis;
  overflow:hidden;
}
.scroll{
  overflow: scroll;
}
.grid-item:hover{
  transform: scale(1.02);
  background-color:rgb(235, 235, 235);
  filter:drop-shadow(7px 7px 0 rgb(21, 153, 59));
}
.pop{
  padding:0 10px;
}

@media screen and (min-width:700px){
  .tall2{
    grid-row:span 2 /  auto;
  }
  .tall3{
    grid-row:span 3 /  auto;
  }
  .tall4{
    grid-row:span 4 /  auto;
  }
  .tall5{
    grid-row:span 5 /  auto;
  }
  .wide2{
    grid-column: span 2 / auto;
  }
  .wide3{
    grid-column: span 3 / auto;
  }
  .wide4{
    grid-column: span 4 / auto;
  }
}

@media only screen and (max-width: 1050px){
  
  .grid-container{
    gap: .75rem;
    max-width: 700px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 40px; 
  }
  .resume-title{
    font-size: 30px !important;
  }

}

@media only screen and (max-width: 700px){
  .grid-container{
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    max-width: 230px;
    min-height:200px; 
    grid-auto-rows: auto;
  }
  .tall2{
    grid-row: auto;
  }
  .tall3{
    grid-row: auto;
  }
  .tall4{
    grid-row: auto;
  }
  .tall5{
    grid-row: auto;
  }
  .wide2{
    grid-column: 230px;
  }
  .wide3{
    grid-column: 230px;
  }
  .wide4{
    grid-column: 230px;
  }
  .grid-item{
    font-size: 16px;
    width:230px;
    height:350px;
    margin:auto;
  }
  .grid-item:hover{
    transform: scale(1);
  }
  .resume{
    height:50px;
    width:250px;
  }
  .resume-title{
    font-size: 45px;
    padding:5px 0;
  }
  .fade-in, .palmtree{
    display:none;
  }  
  .portrait2{
    width:100%;
    height:100%;
  }
  .streaming{
    display:none;
  }
}


