.gradient-button {
  padding: 10px 15px;
  margin: auto;
  font-size: 15px;
  font-weight:bold;
  color: rgb(3, 43, 119);
  border-radius: 5px;
  background-size: 300% auto;
  transition: 0.5s;
  box-shadow: 3px 5px 3px 1px rgb(3, 41, 58);
  width: 100px;
  display: flex;
  justify-content: center;
}
.gradient-button:hover{
  box-shadow: 4px 5px 4px 1px rgb(3, 41, 58);
  margin: auto;
}
.gradient-button-1 {
  background-image: linear-gradient(
    to right, 
    rgb(131, 243, 119) 0%,
    rgb(114, 252, 245) 20%, 
    rgb(43, 211, 253) 60%, 
    rgb(37, 2, 100) 100%
    ) 
}
.gradient-button-1:hover {
  background-position: right center;
  color: #9af391; 
  text-shadow: none;
  
}

/*to Top button */
.scrolly {
  font-size: 15px;
  font-weight:bold;
  color: rgb(3, 43, 119);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding:10px 0;
  background-size: 200% auto;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(
    to right, 
    #a7f09f 8%, 
    #2bd3fd 51%, 
    #250264 100%
  )
}
.scrolly:hover {
  background-position: right center;
  color: #a7f09f; 
  text-shadow: none;
  
}

.form-btn {
  font-family: "Zilla Slab", "Century Gothic", serif;
  font-size: 20px;
  font-weight:bold;
  color: rgb(3, 43, 119);
  display: block;
  text-align: center;
  text-align: center;
  text-decoration: none;
  width: 353px;
  margin: 5px 0px;
  padding:10px 0px;
  background-size: 300% auto;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(
    to right, 
    #a7f09f 0%, 
    #2bd3fd 51%, 
    #250264 100%
  )
}
.form-btn:hover {
  background-position: right center;
  color: #a7f09f; 
}