.contact-bg{
  background-color:  rgb(144, 255, 240);
}
.contact-form{
  display:flex;
  justify-content: center;
  margin: auto;
  font-size: large;
}

form{
margin-bottom: 50px;
}

label{
  padding: 10px 0px;
  display:block;
}
input{
  margin:15px 0px;
  padding:0;
  border: 1px solid black;
  background-color: rgb(100, 255, 236);
  display:block;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}
input:hover{
  transform: scale(1.02);
  filter:drop-shadow(7px 7px 0 rgb(4, 113, 121));
}
textarea{
  margin:15px 0px;
  padding:0;
  background-color: rgb(100, 255, 236);
  display:block;
  border: 1px solid black;
  width: 350px;
  height: 200px;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}

textarea:hover{
  transform: scale(1.02);
  filter:drop-shadow(7px 7px 0 rgb(4, 113, 121));
}

input[type="text"] {
  width: 350px;
  height: 35px;
}
input[type="email"] {
  width: 350px;
  height: 35px;
}

::placeholder{
  font-family: monospace, "Century Gothic", serif;
  font-size: large;
  padding-left: 3px;
}


/* ----------------BUTTONS----------------- */

.form-btn {
  font-family: "Barlow Condensed", "Century Gothic", serif;
  font-size: 20px;
  font-weight:bold;
  color: rgb(3, 43, 119);
  text-align: center;
  text-decoration: none;
  width: 350px;
  margin: 15px 0px;
  padding:10px 0px;
  background-size: 150% auto;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(
    to right, 
    #a7f09f 0%, 
    #2bd3fd 51%, 
    #250264 100%
  )
}
.form-btn:hover {
  background-position: right center;
  transform: scale(1.02);
  filter:drop-shadow(7px 7px 0 rgb(4, 113, 121));
  color: #a7f09f; 
}
@media only screen and (max-width:400px){
  input[type="text"] {
    width: 240px;
    height: 35px;
  }
  input[type="email"] {
    width: 240px;
    height: 35px;
  }

  textarea{
    width: 240px;
    height: 200px;
  }
  .form-btn {
    width: 240px;
  }  
}