html{
    background-color: #222;
}
.grid-container{
  border: 10px solid green;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  /* grid-auto-rows: 200px; */
  /* horizontally adjusts each item */
  /* justify-items: center;  */
  /* vertically adjusts each item */
  /* align-items: center;   */
  /* horizontally adjusts all items in container */
  /* justify-content: center; */
  /* vertically adjusts all items in container */
  /* align-content: center; */
  /* grid-row-gap: 20px;
  grid-column-gap:20px; */
  grid-gap: 10px 10px; 


} 

.grid-item{
  padding: 20px;
  font-size: 25px;
  background-color: #379AD6;
  color: #222;
  border: 2px solid #222;
}