.layout-container{
    display:grid;
    grid-template: 
    [row1-start] "aside1 . . " 50px [row1-end]
    [row2-start] "aside1 main main" auto [row2-end]
    [row3-start] "aside2 main main" auto [row3-end]
    [row4-start] "aside2 main main" 30px [row4-end]
    [row5-start] "aside2 tools tools" auto [row5-end]
    [row6-start] "aside2 tools tools" auto [row6-end]
    [row7-start] "aside2 tools tools" auto [row7-end]
    [row8-start] "aside2 school1 school2" auto [row8-end]
    [row9-start] "aside2 school3 school4" auto [row9-end]
    [row10-start] "div-4 div-4 div-4" auto [row10-end]
    / 300px auto auto;
}
.aside1{
   grid-area: aside1;   
}
.aside2{
   grid-area: aside2;   
}
.school1{
   grid-area: school1;   
}
.school2{
   grid-area: school2;   
}
.school3{
   grid-area: school3;   
}
.school4{
   grid-area: school4;   
}
.main{
    grid-area: main;
}
.div-1{
    grid-area:div-1;
    justify-content: left;
    justify-self: left;
}
.tools{
    grid-area:tools;
}
.div-3{
    grid-area:div-3;
}
.div-4{
    grid-area:div-4;
}



/* ---------------------------- */
@media only screen and (max-width: 700px){

    .layout-container{
       
        gap: 0;
        grid-template: 
        [row1-start] "aside1" auto [row1-end]
        [row2-start] "aside2" auto [row2-end]
        [row3-start] "main" auto [row3-end]
        [row4-start] "main" auto [row4-end]
        [row5-start] "tools" auto [row5-end]
        [row6-start] "school1" auto [row6-end]
        [row7-start] "school2" auto [row7-end]
        [row8-start] "school3" auto [row8-end]
        [row9-start] "school4" auto [row9-end]
        [row10-start] "div-4" auto [row10-end]
        
        / auto ;
    }
    .div-1{
        justify-self: center;
    }
}