.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(50vw, 100vh, 20px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(50vw, 100vh, 20px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 90s infinite;
          animation: particle-animation-1 90s infinite;
  opacity: 0.6;
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(4vw, 61vh, 70px);
  background: #0ea7ff;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(43vw, 41vh, 79px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(43vw, 41vh, 79px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 90s infinite;
          animation: particle-animation-2 90s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(36vw, 88vh, 2px);
  background: #0707c2;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(80vw, 31vh, 10px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(80vw, 31vh, 10px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 90s infinite;
          animation: particle-animation-3 90s infinite;
  opacity: 0.7;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(4vw, 48vh, 10px);
  background: #00c9fc;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(59vw, 59vh, 55px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(59vw, 59vh, 55px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 90s infinite;
          animation: particle-animation-4 90s infinite;
  opacity: .8;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(73vw, 7vh, 48px);
  background: #dfec65;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(43vw, 9vh, 97px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(43vw, 9vh, 97px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 90s infinite;
          animation: particle-animation-5 90s infinite;
  opacity: 0.85;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(16vw, 7vh, 90px);
  background: #00c9fc;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(20vw, 44vh, 51px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(20vw, 44vh, 51px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 90s infinite;
          animation: particle-animation-6 90s infinite;
  opacity: 0.8;
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(32vw, 73vh, 7px);
  background: #032464;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(79vw, 64vh, 9px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(79vw, 64vh, 9px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 90s infinite;
          animation: particle-animation-7 90s infinite;
  opacity: 0.7;
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(70vw, 50vh, 53px);
  background: #071770;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(42vw, 77vh, 23px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(42vw, 77vh, 23px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 90s infinite;
          animation: particle-animation-8 90s infinite;
  opacity: 0.57;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(88vw, 31vh, 25px);
  background: #055a92;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(70vw, 50vh, 75px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(70vw, 50vh, 75px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 90s infinite;
          animation: particle-animation-9 90s infinite;
  opacity: 0.18;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(45vw, 11vh, 6px);
  background: #03093f;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(16vw, 50vh, 81px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(16vw, 50vh, 81px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 90s infinite;
          animation: particle-animation-10 90s infinite;
  opacity: 0.4;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(10vw, 64vh, 29px);
  background: #75f84d;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(50vw, 9vh, 54px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(50vw, 9vh, 54px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 90s infinite;
          animation: particle-animation-11 90s infinite;
  opacity: 0.32;
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(38vw, 81vh, 2px);
  background: #025d88;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(90vw, 32vh, 62px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(90vw, 32vh, 62px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 90s infinite;
          animation: particle-animation-12 90s infinite;
  opacity: 0.7;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(84vw, 19vh, 27px);
  background: #042e6d;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(12vw, 6vh, 69px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(12vw, 6vh, 69px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 90s infinite;
          animation: particle-animation-13 90s infinite;
  opacity: 0.31;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(83vw, 89vh, 35px);
  background: #268bd9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(50vw, 18vh, 17px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(50vw, 18vh, 17px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 90s infinite;
          animation: particle-animation-14 90s infinite;
  opacity: 0.63;
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(22vw, 3vh, 96px);
  background: #d9cd26;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(12vw, 78vh, 22px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(12vw, 78vh, 22px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 90s infinite;
          animation: particle-animation-15 90s infinite;
  opacity: 0.25;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(31vw, 21vh, 49px);
  background: #0a2077;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(69vw, 47vh, 84px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(69vw, 47vh, 84px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 90s infinite;
          animation: particle-animation-16 90s infinite;
  opacity: 0.45;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(79vw, 1vh, 63px);
  background: #0a0379;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(75vw, 25vh, 97px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(75vw, 25vh, 97px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 90s infinite;
          animation: particle-animation-17 90s infinite;
  opacity: 0.65;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(37vw, 65vh, 100px);
  background: #0205af;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(49vw, 38vh, 72px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(49vw, 38vh, 72px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 90s infinite;
          animation: particle-animation-18 90s infinite;
  opacity: 0.55;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(74vw, 67vh, 70px);
  background: #01ac4e;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(42vw, 64vh, 83px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(42vw, 64vh, 83px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 90s infinite;
          animation: particle-animation-19 90s infinite;
  opacity: 0.2;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(79vw, 83vh, 50px);
  background: #3ce708;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(11vw, 76vh, 29px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(11vw, 76vh, 29px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 90s infinite;
          animation: particle-animation-20 90s infinite;
  opacity: 0.62;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(63vw, 16vh, 43px);
  background: #22cce2;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(79vw, 79vh, 10px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(79vw, 79vh, 10px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 90s infinite;
          animation: particle-animation-21 90s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(9vw, 21vh, 54px);
  background: #020e30;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(12vw, 67vh, 83px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(12vw, 67vh, 83px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 90s infinite;
          animation: particle-animation-22 90s infinite;
  opacity: 0.4;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(16vw, 5vh, 26px);
  background: #d3d926;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(20vw, 44vh, 88px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(20vw, 44vh, 88px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 90s infinite;
          animation: particle-animation-23 90s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(74vw, 41vh, 57px);
  background: #0b557e;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(79vw, 76vh, 20px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(79vw, 76vh, 20px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 90s infinite;
          animation: particle-animation-24 90s infinite;
  opacity: 0.3;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(65vw, 28vh, 98px);
  background: #d92694;
}
