@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Encode+Sans+Semi+Condensed:wght@200;300&display=swap');
/*

font-family: 'Covered By Your Grace', 'Century Gothic', sans-serif;
font-family: 'Encode Sans Semi Condensed', 'Century Gothic', sans-serif;

*/

html {
  scroll-behavior: smooth;
  font-family: 'Encode Sans Semi Condensed','Century Gothic', sans-serif;
  font-weight: 300;
}
.gradient {
  width: 100%;
  background-color:rgb(200, 219, 245);
}
body {
  margin: 0px;
  padding: 90px 0px 0px 0px;
}
video {
  margin: 0px;
  width: 100%;
  height: auto;
}

/*-------------- ALL anchor tags-------------- */
a {
  text-decoration: none;
  cursor: pointer;
}
.link {
  color: rgb(1, 20, 49);
  transition: 0.2s ease-in-out;
}
.link:hover {
  color: rgb(9, 240, 93);
  text-shadow: 3px 2px 0px #9d64ff;
  filter: drop-shadow(4px 2px 2px #03205e);
}
.disabeled {
  pointer-events: none;
}

/*-------------- Banner styles-------------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  z-index: 11;
}
.banner-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 70px;
  grid-auto-flow: column;
  background-color: rgb(1, 20, 49);
}
.banner-div {
  position: fixed;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: grid;
  z-index: 11;
  top: 80px;
  height: 15px;
  background: linear-gradient(
    70deg,
    rgb(157, 100, 255),
    rgb(40, 1, 109),
    rgb(4, 48, 119),
    rgb(6, 134, 185),
    rgb(114, 252, 245),
    rgb(50, 231, 183),
    rgb(157, 243, 76)
  );
}
.item1 {
  width: 200px;
  grid-column: 1/2;
  grid-row: 1;
}
.item2 {
  grid-column: 2/3;
  grid-row: 1;
}
.item3 {
  grid-column: 3/4;
  grid-row: 1;
  margin-right: 10px;
}
.icon-link:hover {
  color: rgb(9, 240, 93);
  text-shadow: 2px 2px 4px rgb(157, 100, 255);
  filter: drop-shadow(4px 4px 3px #03205e);
}
.fa-beat {
  --fa-animation-duration: 7s;
}
.home-link {
  transition: 100ms ease-in-out;
}
.home-link:hover {
  filter: drop-shadow(2px 1px 1px rgb(157, 100, 255));
}
.signature {
  width: 75px;
  height: auto;
  z-index: 10;
}

div ul {
  display: flex;
  margin: 0 10px;
  float: right;
  font-size: 22px;
  list-style: none;
  padding: 0;
}

div ul li a {
  padding: 0px 15px;
  color: rgb(180, 255, 255);
}
/* End of banner styles */

/*--------------- Navigation Menu----------------- */
nav {
  font-family: 'Covered By Your Grace', 'Century Gothic', sans-serif;
  width:auto;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px;
  justify-content: space-between;
  margin: 0px 100px;
  padding: 10px 0 0 0;
  list-style: none;
  text-align: center;
}
nav ul li {
  font-size: 30px;
  color: rgb(1, 20, 49);
  
}
nav ul li a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  nav ul {
    gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 54px;
    margin: auto 5px;
  }
  nav ul li {
    font-size: 24px;
    padding: 10px 50px;
    margin: 0px 20x;
    border: 1px solid rgba(1, 20, 49, 0.5);
    transition: 100ms ease-in-out;
    box-shadow: 3px 5px 3px 1px rgb(3, 41, 58);
    background: linear-gradient(
      to right,
      rgb(177, 231, 132) 0%,
      rgb(102, 228, 88) 30%,
      rgb(43, 211, 253) 60%,
      rgb(3, 116, 182) 85%,
      rgb(122, 11, 187) 105%
    );
  }

  nav ul li:hover {
    background-position: right center;
    box-shadow: 3px 5px 3px 1px rgb(3, 41, 58);
    filter: drop-shadow(2px 0px 1px rgb(157, 100, 255));
  }
}
/* --------------Section 1 --------------*/
.school-logo {
  align-self: center;
  align-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}
.logo-frame {
  justify-self: center;
  background-color: rgb(255, 255, 255);
  width: 130px;
  height: 90px;
  border: 1px solid rgba(70, 3, 133, 0.6);
  border-radius: 10px;
  margin: 0 auto 1rem auto;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter: drop-shadow(4px 4px 2px rgba(5, 16, 34, 0.8));
}
.logo-frame:hover {
  transform: scale(1.02);
  filter: drop-shadow(6px 3px 2px rgba(59, 21, 121, 0.8));
}
.fsw {
  padding-top: 15px;
}
.shecodes {
  padding-top: 28px;
}
.coursera{
  padding-top: 37px;
}
figcaption {
  color: rgb(1, 20, 49);
  font-size: 18px;
  font-weight: 800;
  margin-top: 10px;
}

#portrait {
  margin: 1rem auto 0 auto;
  padding: 0;
  display: grid;
  width: 250px;
  height: auto;
  border: 2px solid rgb(60, 204, 156);
  border-radius: 20px;
  transition: 200ms ease-in-out;
  z-index: 11;
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(2, 56, 92, 0);
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(2, 56, 92);
  }
}
.typewriter {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Encode Sans Semi Condensed', 'Century Gothic', sans-serif;
  color: rgb(180, 255, 255);
  padding: 5px 0;
  overflow: hidden;
  max-width: 160px;
  border-right: 0.08em solid rgb(1, 20, 49); /* The typewriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.03em; /* Adjust as needed */
  animation: typing 4s steps(30, end), blink-caret 1s step-end infinite;
}

/*-------------- Section 3---------------------------- */

.tool-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 6fr));
  grid-template-rows: auto;
  gap: 2rem;
  margin: auto;
}
.tool-box {
  margin: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.tool-icon {
  margin: auto;
  font-size: 60px;
  color: rgb(1, 20, 49); 
  filter: drop-shadow(8px 8px 2px rgba(3, 41, 58, 0.6));
  transition-timing-function: ease;
}
.tool-icon:hover {
  color: rgba(180, 255, 255, 0.7);
}
.tool-svg-icon {
  margin: auto;
  font-size: 60px;
  filter: brightness(0) saturate(100%) invert(6%) sepia(53%) saturate(4037%)
    hue-rotate(214deg) brightness(83%) contrast(101%)
    drop-shadow(6px 6px 2px rgba(3, 41, 58, 0.6));
}
.tool-svg-icon:hover {
  filter: brightness(0) saturate(100%) invert(84%) sepia(52%) saturate(296%)
    hue-rotate(146deg) brightness(106%) contrast(104%)
    drop-shadow(6px 6px 2px rgba(3, 41, 58, 0.6));
}
.tool-label {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-family: 'Encode Sans Semi Condensed', 'Century Gothic', sans-serif;
  text-align: center;
  color: rgb(1, 20, 49);
}
@media only screen and (max-width: 600px) {
  .tool-icon {
    font-size: 50px;
  }
  .tool-container {
    grid-template-columns: repeat(auto-fit, minmax(60px, 3fr));
    gap: 1rem;
  }
  .tool-svg-icon {
    width: 50px;
  }
  .tool-label {
    font-size: 15px;
  }
}
@media only screen and (max-width: 350px) {
  .tool-icon {
    font-size: 40px;
  }
  .tool-container {
    grid-template-columns: repeat(auto-fit, minmax(50px, 3fr));
    gap: 1rem;
  }
  .tool-svg-icon {
    width: 40px;
  }
  .tool-label {
    font-size: 12px;
  }
}
/*-------------- ALL --------------*/
h1,
h2,
h3 {
  margin: 0px;
  padding: 10px 0px 10px 0px;
  font-family: 'Covered by your Grace','Century Gothic', sans-serif;
  text-align: left;
  color: rgb(1, 20, 49);
}
.intro-txt {
  padding: 0px;
  font-size: 24px;
  font-family: 'Encode Sans Semi Condensed', 'Century Gothic', sans-serif;
  text-align: center;
  background: -webkit-linear-gradient(rgb(73, 100, 255), rgb(217, 39, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 1px black);
}
p {
  color: rgb(180, 255, 255);
  border: 0;
  margin: auto;
  padding: 0px 0px 10px 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
}
.box-3 > h1 {
  color: rgb(180, 255, 255);
}
figcaption {
  color: rgb(1, 20, 49);
  padding: 0px;
  font-family: 'Encode Sans Semi Condensed', 'Century Gothic', sans-serif;
  text-align: center;
}
img {
  max-width: 100%;
  display: block;
}
/* For h1 on other pages */
.title {
  margin: auto;
  padding: 50px 0px 10px 0px;
  text-align: center;
  background: -webkit-linear-gradient(rgb(1, 20, 49);, rgb(178, 39, 233));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 1px black);
}

/* --------------------------BUTTONS----------------------------- */
.gradient-button {
  padding: 15px 20px;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  color: rgb(1, 20, 49);
  background-size: 300% auto;
  transition: 0.5s;
  border: 1px solid rgb(180, 255, 255);
  border-radius: 10px;
  width: 100px;
  display: flex;
  justify-content: center;
}
.gradient-button:hover {
  box-shadow: 3px 3px 5px rgb(4, 48, 119);
}
.gradient-button-1 {
  background-image: linear-gradient(
    to right,
    rgb(131, 243, 119) 0%,
    rgb(114, 252, 245) 20%,
    rgb(43, 211, 253) 60%,
    rgb(37, 2, 100) 80%
  );
}
.gradient-button-1:hover {
  background-position: right center;
  color: #9af391;
}

/*to Top button */
.scrolly {
  font-size: 15px;
  font-weight: bold;
  color: rgb(3, 43, 119);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
  background-size: 200% auto;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-image: linear-gradient(
    to right,
    #a7f09f 8%,
    #2bd3fd 51%,
    #250264 100%
  );
}
.scrolly:hover {
  background-position: right center;
  color: #a7f09f;
  text-shadow: none;
}
.to-top {
  padding: 0;
  margin: 0;
  filter: invert(15%) sepia(36%) saturate(4353%) hue-rotate(210deg)
    brightness(93%) contrast(107%);
}
.scrolly > button {
  background-color: transparent;
  border: none;
}
/* ------------------------------------------- */
footer {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  color: rgb(167, 240, 159);
}
.footer {
  background-color: rgb(1, 20, 49);
  width: 100%;
  height: 200px;
}
/* --------------------------------------- */
