/* color palette{
banner and footer bg color rgb(1, 20, 49);
  header text navy blue rgb(2, 20, 68);

button font lime green rgb(167, 240, 159);

dark drop shadow rgb(1, 16, 39);
hover purple rgb(40, 1, 109); 
hover lime green rgb(9, 240, 93);

Dark navy rgb(1, 20, 49);
Light navy rgb(2, 20, 68);
Lightest navy rgb(2, 38, 95);

Dark Teal rgb(11, 90, 128);
Light Teal rgb(0, 114, 145);
Lightest Teal rgb(0, 156, 163);

Sage mint green rgb(57, 199, 162);
Lime green rgb(126, 209, 116);
yellow green rgb(186, 252, 101);

icons blue rgb(114, 252, 245);
} */

html {
  width: 100%;
  /* max-height: fit-content; */
  font-family: "Zilla Slab", "Century Gothic", serif;
  
  background: linear-gradient(
    330deg,
    rgb(1, 20, 49),
    rgb(2, 20, 68), 
    rgb(2, 38, 95), 
    rgb(11, 90, 128), 
    rgb(0, 114, 145),
    rgb(0, 156, 163), 
    rgb(57, 199, 162), 
    rgb(126, 209, 116),
    rgb(186, 252, 101)
    );
    
  }
  body{
    margin: 0px;
    padding: 70px 0px 0px 0px;
}

section{
  margin: 20px 40px;
}

video{
  margin: 0px;
  width: 100%; 
  height:auto;
}

/* ALL anchor tags */
a {
  text-decoration: none;
  cursor:pointer;
  color: rgb(2, 20, 68);
  transition: 0.2s ease-in-out;
}
a:hover {
  color: rgb(9, 240, 93);
  text-shadow: 2px 2px 4px rgb(157, 100, 255);
  filter: drop-shadow(4px 4px 3px #03205e);
   /* filter: drop-shadow(2px 2px 3px rgb(157, 100, 255)); */
}
/* Banner styles */
header{
  position: fixed;
  top:0;
  width: 100%;
  height: 50px;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  z-index: 10;
}

.banner-container{
  display: grid;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 40px;
  grid-auto-flow: column;
  background-color: rgb(1, 20, 49);
}
.banner-div{
  position: fixed;
  width: 100%;
  margin: 0px;
  padding:0px;
  display: grid;
  z-index: 10;
  top:60px;
  height: 10px;    
  background: linear-gradient(
    70deg,
    rgb(157, 100, 255),
    rgb(40, 1, 109),
    rgb(4, 48, 119), 
    rgb(6, 134, 185),
    rgb(114, 252, 245),
    rgb(50, 231, 183),
    rgb(157, 243, 76), 
    rgb(167, 240, 159)
  );
}

.item1{
  width: 200px;
  grid-column: 1/2;
  grid-row: 1;
}
.item2{
  grid-column: 2/3;
  grid-row: 1;
}
.item3{
  grid-column: 3/4;
  grid-row: 1;
  justify-items: end;
}  
.fa-beat{
  --fa-animation-duration: 7s;
}
.homeLink {
  width:200px;
  transition: 0.1s ease-in-out;
}
div ul {
  display: flex;
  margin: 0;
  padding: 0 20px 0 0;
  float: right;
  font-size: 22px;
  list-style: none;
}
div ul li a{
  padding: 0px 15px;
  color: rgb(74, 213, 252);
}

/* End of banner styles */


nav {
  width:auto;
  font-family: "Zilla Slab", "Century Gothic", serif;
  font-weight: bold;
}

/* Navigation Menu */
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  font-size: 18px;
  margin: 0px 100px;
  padding:10px;
  list-style: none;
  text-align: center;
}

nav ul li a {
  color: rgb(2, 20, 68);
  text-decoration: none;
}


/* Section 1 */
#portrait {
  margin: auto;
  /* display: grid; */
  align-items: center;
  width: 150px;
  height: auto;
  filter: drop-shadow(8px 8px 5px rgb(1, 16, 39));
  transition: 200ms ease-in-out;
}
#portrait:hover {
  filter: drop-shadow( 10px 10px 7px rgb(40, 1, 109));
}

/* Grid container style */

.container {
  display: grid;
  margin: 100px 45px 0px 0px;
  grid-template-columns: 150px 300px 100px;
  grid-template-rows: 50px 90px 90px;
  justify-content: center;  
}
.box-1 {
  grid-column: 1;
  grid-row: 1 / 4;
}
.box-2 {
  grid-column: 2;
  grid-row: 1 / 2;
}

.box-3 {
  grid-column: 2;
  grid-row: 2 / 3;
}
.box-4 {
  grid-column: 2;
  grid-row: 3 / 4;
}
.box-5 {
  grid-column: 3;
  grid-row: 1 / 4;
}

.typewriter {
  font-size: 39px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  max-width: 300px;
  border-right: 0.08em solid rgb(1, 20, 49); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.04em; /* Adjust as needed */
  animation: typing 4s steps(17, end), blink-caret 0.9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(3, 68, 112);
  }
}
/* end of grid container style */


/* Section 2 */



/* Section 3 */
.skill-container{
  margin-top: auto;
  display: grid;
  grid-template-columns: repeat(5, 110px);
  grid-template-rows: 70px 50px 70px 50px;
  grid-auto-flow: column;
}
.sk-grid-1{
  grid-column: 1/2;
  grid-row: 1;
}
.sk-grid-1a{
  grid-column: 1/2;
  grid-row: 2;
}
.sk-grid-2{
  grid-column: 2/3;
  grid-row: 1;
}
.sk-grid-2a{
  grid-column: 2/3;
  grid-row: 2;
}
.sk-grid-3{
  grid-column: 3/4;
  grid-row: 1;
} 
.sk-grid-3a{
  grid-column: 3/4;
  grid-row: 2;
} 
.sk-grid-4{
  grid-column: 4/5;
  grid-row: 1;
} 
.sk-grid-4a{
  grid-column: 4/5;
  grid-row: 2;
} 
.sk-grid-5{
  grid-column: 1/2;
  grid-row: 3;
} 
.sk-grid-5a{
  grid-column: 1/2;
  grid-row: 4;
} 
.sk-grid-6{
  grid-column: 2/3;
  grid-row:3;
} 
.sk-grid-6a{
  grid-column: 2/3;
  grid-row:4;
} 
.sk-grid-7{
  grid-column: 3/4;
  grid-row: 3;
} 
.sk-grid-7a{
  grid-column: 3/4;
  grid-row: 4;
} 
.sk-grid-8{
  grid-column: 4/5;
  grid-row: 3;
}
.sk-grid-8a{
  grid-column: 4/5;
  grid-row: 4;
}  

.skill-icon{
  display: flex;
  justify-content: center;
  font-size: 70px;
  align-items: center;
  color: rgb(119, 246, 255);
  filter: drop-shadow(6px 6px 1px #03293a);
}

.skill-icon:hover{
  filter: drop-shadow( 6px 6px 1px rgb(40, 1, 109));
}
.grid-label{
  display:flex;
  margin: auto;
  padding: 5px 0px 20px 0px;
  font-size: 15px;
  font-family: "Barlow Condensed", "Century Gothic", sans-serif;
  text-align: center;
}

/* Section 4 style for project cards*/

#project-section{
  padding: 30px 0;

}
.project-container {
  display: grid;
  /* margin: 10px 50px 50px 50px; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-element {
  justify-self: center;
}

.card-1{
  grid-column: 1/2;
  grid-row: 1;
}
.card-2{
  grid-column: 2/3;
  grid-row: 1;
}
.card-3{
  grid-column: 3/4;
  grid-row: 1;
}
.card{
  filter: drop-shadow(6px 6px 4px #010a18);
  transition: 200ms ease-in-out;
  
}
.card:hover{
  filter: drop-shadow( 8px 8px 6px rgb(40, 1, 109));
}
/*end of style for project card tiles on home page */


/* ALL */

h1, h2, h3{
  margin: 0px;
  padding: 10px 0px 10px 0px;
  font-family: "Zilla Slab", "Century Gothic", serif;
  text-align: left;
  color: rgb(2, 20, 68);
}

h1.intro-txt{
  padding: 0px;
  font-size: 20px;
  font-family: "Zilla Slab", "Century Gothic", serif;
  text-align: center;
  
}


p {
  color: rgb(0, 0, 0);
  border: 0;
  margin: auto;
  padding: 0px 0px 10px 0px;
  font-size: 18px;
  font-family: "Barlow Condensed", "Century Gothic", sans-serif;
  text-align: left;
}

img{
  max-width:100%;
  display:block;
}
footer {
  display:block;
  text-align:center;
  margin: auto;
  padding-top: 100px;
  color: rgb(167, 240, 159);
}
.footer{
  background-color: #011431;
  width: 100%;
  height:200px;
}

/* For h1 on other pages */
.page{
  margin: auto;
  padding: 50px 0px 10px 0px;
  text-align: center;
}
.page-par{
  margin: auto;
  /* padding: 10px 0px; */
  text-align: center;
}

.project-page{
 margin: 100px;  
}

/* Style for About me Page */

.resume-card{
  width:100%;
  max-width: 800px;
  padding: 20px 0px 30px 0px;
}
.reason{
  font-size: 18px;
  font-family: "Barlow Condensed", "Century Gothic", sans-serif;
  text-align: left;
}

.reason-section{
  border:5px ridge #021444;
  background: linear-gradient(
  180deg,
   rgb(101, 215, 230),
   rgb(114, 252, 245),
   rgb(114, 252, 245),
   rgb(114, 252, 245),
   rgb(114, 252, 245),
   rgb(114, 252, 245),
   rgb(101, 215, 230)
  );
  padding: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
  border:5px inset rgb(2, 20, 68);
  text-align: left;
  color:#021444;
}

.col-1{
  width: 40%;
  font-weight: bold;
  border: none;
}
.col-2{
  width: 40%;
  font-weight: bold;
  border: none;
}
.col-3{
  width: 20%;
  font-weight: bold;
  border: none;
}

.row-1{
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  padding: 10px 0px;
}
.cert{
  font-size: 15px;
}
.cert:hover{
  color: rgb(13, 206, 84);
  text-shadow: 3px 3px 2px #03293a;
  
}
td{
  padding: 10px 5px;
}

tr:nth-child(odd) {
  background-color: rgb(114, 252, 245);
}
tr:nth-child(even) {
  background-color: rgba(101, 215, 230, 0.4);
}
/* Style for Project Pages */
.space{
  padding-bottom: 100px;
}


.card-container{
  display:grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  height: auto;
  justify-items: center; 
}
.card-box{
  display:flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  background-color: rgb(114, 252, 245);
}
.card-img{
  aspect-ratio: 3/2;
  filter: drop-shadow(5px 5px 3px #021635);
  transition: 200ms ease-in-out;
}
.card-img:hover{
  filter: drop-shadow( 6px 6px 4px rgb(40, 1, 109));
}
.card-title{
  margin:5px auto;
}

@media only screen and (max-width: 600px){
  .card-container{
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: auto;
    justify-items: center; 
}

}






/