html{
  scroll-behavior: smooth;
  font-family:'Century Gothic','Segoe UI', Geneva, sans-serif; 
}  
.gradient {
  width: 100%;
  scroll-behavior: smooth;
  background: linear-gradient(
    300deg,      
    rgb(2, 42, 105), 
    rgb(11, 90, 128), 
    rgb(0, 114, 145),
    rgb(0, 156, 163), 
    rgb(57, 199, 162),
    #48d29c, 
    rgb(134, 243, 122),
    rgb(186, 252, 101)
    ); 
}
body{
  margin: 0px;
  padding: 70px 0px 0px 0px;
}

video{
  margin: 0px;
  width: 100%; 
  height:auto;
}
.margin{
  margin:1rem 1.5rem;
}

/*-------------- ALL anchor tags-------------- */
a {
  text-decoration: none;
  cursor:pointer;
}
.link {
  color: rgb(2, 20, 68);
  transition: 0.2s ease-in-out;
}
.link:hover {
  color: rgb(9, 240, 93);
  text-shadow: 3px 2px 0px rgb(157, 100, 255);
  filter: drop-shadow(2px 2px 3px #03205e);
  
}
.disabeled{
  pointer-events: none;
}

/*-------------- Banner styles-------------- */
header{
  position: fixed;
  top:0;
  width: 100%;
  height: 50px;
  padding: 10px 10px 0px 10px;
  margin: 0px;
  z-index: 10;
}
.banner-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 40px;
  grid-auto-flow: column;
  background-color: rgb(1, 20, 49);
}
.banner-div{
  position: fixed;
  width: 100%;
  margin: 0px;
  padding:0px;
  display: grid;
  z-index: 10;
  top:60px;
  height: 10px;    
  background: linear-gradient(
    70deg,
    rgb(157, 100, 255),
    rgb(40, 1, 109),
    rgb(4, 48, 119), 
    rgb(6, 134, 185),
    rgb(114, 252, 245),
    rgb(50, 231, 183),
    rgb(157, 243, 76), 
    rgb(167, 240, 159)
  );
}
.item1{
  width: 200px;
  grid-column: 1/2;
  grid-row: 1;
}
.item2{
  grid-column: 2/3;
  grid-row: 1;
}
.item3{
  grid-column: 3/4;
  grid-row: 1;
  margin-right: 10px;
} 
.icon-link:hover {
  color: rgb(9, 240, 93);
  text-shadow: 2px 2px 4px rgb(157, 100, 255);
  filter: drop-shadow(4px 4px 3px #03205e);
  
}
.fa-beat{
  --fa-animation-duration: 7s;
}
.homeLink {
  width:200px;
  transition: 100ms ease-in-out;
}
.homeLink:hover{
  filter: drop-shadow(2px 2px 1px rgb(157, 100, 255));
}
.signature{
  width: 180px;
  height: auto;
  aspect-ratio: 7/2;
  z-index: 10;
}
.signature-backup{
  width: 35px;
  height: auto;
  aspect-ratio: 2/2;
  z-index: 10;
  display:none;
}
@media only screen and (max-width:500px){
  .signature {
  width:160px;
  }
}
@media only screen and (max-width:350px){
  .signature {
    display:none;
  }
  .signature-backup {
    display:inline;
  }
}
div ul {
  display: flex;
  margin: 0 10px;
  float: right;
  font-size: 22px;
  list-style: none;
  padding: 0;
}

div ul li a{
  padding: 0px 15px;
  color: rgb(74, 213, 252);
}
/* End of banner styles */

nav {
  width:auto;
  font-weight: bold;
  font-family: "Barlow Condensed", 'Century Gothic','Segoe UI', Geneva, sans-serif; 
}

/*--------------- Navigation Menu----------------- */
nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  font-size: 20px;
  margin: 0px 100px;
  padding:10px;
  list-style: none;
  text-align: center;
}
nav ul li a {
  color: rgb(2, 20, 68);
  text-decoration: none;
}

@media only screen and (max-width: 600px){
  nav ul {
    gap: .5rem;
    grid-template-columns: 1fr;
    margin: auto; 
  }
  nav ul li{
    font-size: 25px;
    padding:10px 50px;
    margin: 0px 20x;
    border: 1px solid rgba(1, 20, 49, .5);
    transition: 100ms ease-in-out;
    box-shadow: 3px 5px 3px 1px rgb(3, 41, 58);
    background: linear-gradient(
    to right, 
    rgb(177, 231, 132) 0%,
    rgb(102, 228, 88) 30%,
    rgb(43, 211, 253) 60%, 
    rgb(3, 116, 182) 85%,
    rgb(122, 11, 187) 105%
    ); 
  }
 
  nav ul li:hover{
    background-position: right center;
    box-shadow: 3px 5px 3px 1px rgb(3, 41, 58);
    filter: drop-shadow(2px 0px 1px rgb(157, 100, 255));
  }
}
/* --------------Section 1 --------------*/
.school-logo{
  align-self: center;
  align-content: center;
  align-items: center;
  margin:auto;
  padding:0;
 
}
.logo-frame{
  justify-self: center;
  background-color: rgb(255, 255, 255);
  width:180px;
  height:140px;
  margin:auto;
  filter: drop-shadow( 10px 10px 0px rgb(4, 48, 119));
  transition-timing-function: ease;
}
.logo-frame:hover{
  transform: scale(1.02);
  filter: drop-shadow( 10px 10px 0px rgb(40, 1, 109));
}
.fsw{
  padding-top:20px;
}
figcaption{
  color: rgb(2, 20, 68);
  font-size: 18px;
  font-weight: 800;
  margin-top:10px;
}
#one{
  padding-bottom: 75px;
}
#portrait {
  margin: 1rem auto 0 auto;
  padding: 0;
  display: grid;
  width: 150px;
  height: 210px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow:15px 15px 0px rgb(4, 48, 119);
  transition: 200ms ease-in-out;
}
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgba(2, 56, 92, 0);
    }
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(2, 56, 92);
    }
  }
  .typewriter {
    font-size: 24px;
    font-weight: bold;
    font-family:'Century Gothic','Segoe UI', Geneva, sans-serif; 
    color: rgb(2, 20, 68);
    padding: 5px 0;
    overflow: hidden; 
    max-width: 202px;
    border-right: 0.08em solid rgb(1, 20, 49); /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.03em; /* Adjust as needed */
    animation: typing 5s steps(30, end), blink-caret 1s step-end infinite;
  }

.codewars--div{
  display:flex;
  justify-content: center;
  justify-self: center;
  margin:10px auto;
  background-color: rgb(30, 30, 32);
  width:220px;
  height:30px;
  padding:5px 10px;
  border: 1px solid black;
  transition: 200ms ease-in-out;
}
.codewars{
  padding:0 10px;
}
.leetcode--div{
  display:flex;
  justify-content: center;
  justify-self: center;
  margin:10px auto;
  background-color: rgb(143, 142, 142);
  width:220px;
  height:30px;
  padding:5px 10px;
  border: 1px solid black;
  transition: 200ms ease-in-out;
}
.codewars--div:hover{
  filter: drop-shadow(6px 6px 0px rgb(4, 48, 119));
  transform: scale(1.05);
}
.leetcode--div:hover{
  filter: drop-shadow(6px 6px 0px rgb(4, 48, 119));
  transform: scale(1.05);
}
.leetcode{
  filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
  
}

/*-------------- Section 3---------------------------- */
/* --------------------------------------------------- */
#three{
  padding-bottom: 50px;
}
.tool-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 6fr));
  grid-template-rows: auto;
  gap: 2rem;
}
.tool-box{
  margin: auto;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
}
.tool-icon{
  margin: auto;
  font-size: 60px;
  color: rgb(144, 248, 255); 
  filter: drop-shadow(6px 6px 1px rgb(3, 41, 58));
  transition-timing-function: ease;
}
.tool-icon:hover{
  filter: drop-shadow( 6px 6px 0px rgb(4, 48, 119));
  transform: scale(1.03); 
}
.tool-svg-icon{
  margin: auto;
  font-size: 60px;
  filter: brightness(0) saturate(100%) invert(83%) sepia(6%) saturate(3516%) hue-rotate(160deg) brightness(109%) contrast(101%) drop-shadow(6px 6px 1px rgb(3, 41, 58));
}
.tool-svg-icon:hover{
  filter:brightness(0) saturate(100%) invert(83%) sepia(6%) saturate(3516%) hue-rotate(160deg) brightness(109%) contrast(101%) drop-shadow( 6px 6px 2px rgb(40, 1, 109));
}

.tool-label{
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  font-family: "Barlow Condensed", "Century Gothic", sans-serif;
  text-align: center;
}
@media only screen and (max-width:400px){
  .tool-icon{
    font-size: 60px;
  }
  .tool-container{
    grid-template-columns: repeat(auto-fit, minmax(60px, 3fr));
    gap: 1rem;
  }
  .tool-svg-icon{
    width: 55px;
  }
}

/*-------------- ALL --------------*/
h1, h2, h3{
  margin: 0px;
  padding: 10px 0px 10px 0px;
  font-family: "Barlow Condensed", "Century Gothic", monospace, sans-serif;
  text-align: left;
  color: rgb(2, 20, 68);
}
.intro-txt{
  padding: 0px;
  font-size: 20px;
  font-family: "Barlow Condensed", "Century Gothic", monospace, sans-serif;
  text-align: center;
}
p {
  color: rgb(0, 0, 0);
  border: 0;
  margin: auto;
  padding: 0px 0px 10px 0px;
  font-family: "Century Gothic", "Optima sans-serif", monospace, sans-serif, serif;
  text-align: left;
}
img{
  max-width:100%;
  display:block;
}

/* For h1 on other pages */
.title{
  margin: auto;
  padding: 50px 0px 10px 0px;
  text-align: center;
}

/* --------------------------BUTTONS----------------------------- */
.gradient-button {
  padding: 15px 20px;
  margin: auto;
  font-size: 15px;
  font-weight:bold;
  color: rgb(3, 43, 119);
  background-size: 300% auto;
  transition: 0.5s;
  border: 1px solid black;
  width: 100px;
  display: flex;
  justify-content: center;
}
.gradient-button:hover{
  box-shadow: 6px 6px 0 rgb(4, 48, 119);
  
}
.gradient-button-1 {
  background-image: linear-gradient(
    to right, 
    rgb(131, 243, 119) 0%,
    rgb(114, 252, 245) 20%, 
    rgb(43, 211, 253) 60%, 
    rgb(37, 2, 100) 100%
  ) 
}
.gradient-button-1:hover {
  background-position: right center;
  color: #9af391; 
  text-shadow: none;
}

/*to Top button */
.scrolly {
  font-size: 15px;
  font-weight:bold;
  color: rgb(3, 43, 119);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding:10px 0;
  background-size: 200% auto;
  transition: all 0.6s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(
    to right, 
    #a7f09f 8%, 
    #2bd3fd 51%, 
    #250264 100%
  )
}
.scrolly:hover {
  background-position: right center;
  color: #a7f09f; 
  text-shadow: none;
}
.to-top{
  padding:0;
  margin:0;
  filter:invert(15%) sepia(36%) saturate(4353%) hue-rotate(210deg) brightness(93%) contrast(107%);
}
.scrolly > button{
  background-color: transparent;
  border:none;
}
/* ------------------------------------------- */
footer {
  display:block;
  text-align:center;
  margin: auto;
  padding-top: 100px;
  color: rgb(167, 240, 159);
}
.footer{
  background-color: #011431;
  width: 100%;
  height:200px;
}