/* color palette{
headings purple rgb(26, 6, 83);
headers navy blue rgb(2, 20, 68);
hover purple rgb(61, 5, 165);
hover lime green rgb(9, 240, 93);
button lime green rgb(167, 240, 159);

Dark navy rgb(1, 20, 49);
Light navy rgb(15, 57, 112);
Dark Teal rgb(11, 90, 128);
Light Teal rgb(0, 114, 145);

} */

html {
  width: 100%;
  max-height: fit-content;
  font-family: "Zilla Slab", "Century Gothic", serif;
  
  /* background: linear-gradient(
    75deg,
    #011431,
    #021444,
    #0f3970,
    #0b5a80,
    #007291,
    #0098a4,
    #2fbea9,
    #58cfa7,
    #7fe0a3,
    #a7f09f,
    #98fd5d
  ); */
background: linear-gradient(
  330deg,
  #011431,
  #011431, 
  #021444, 
  #002052, 
  #003f73, 
  #006b94, 
  #009ca3, 
  #39c7a2, 
  #8be59f, 
  #a7f09f,
  #a8f87a
  );

}
body{
  margin: 0px;
}

section{
  margin: 20px 40px;
}
.homeLink {
  font-family: "Zilla Slab", "Century Gothic", serif;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: rgb(2, 20, 68);
  transition: 0.1s ease-in-out;
  margin: 10px 0px 0px 10px;
}
.homeLink:hover {
  color: rgb(9, 240, 93);
  text-shadow: 0 0 3px #03293a;
}
div ul {
  display: flex;
  padding: 0;
  float: right;
  align-items: space-between;
  font-size: 20px;
  list-style: none;
}

div ul li {
  padding: 0 10px;
}
div ul li a {
  text-decoration: none;
  color: rgb(2, 20, 68);
  transition: 0.1s ease-in-out;
}
div ul li a:hover {
  color: rgb(9, 240, 93);
  text-shadow: 0 0 4px #03293a;
}

nav {
  margin: 50px 60px;
  font-family: "Zilla Slab", "Century Gothic", serif;
  font-weight: bold;
  float: center;
}


nav ul {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  font-size: 20px;
  list-style: none;
}

nav ul li {
  width: 15%;
  padding: 0px 5px;
  text-align: center;
}
nav ul li a {
  color: rgb(2, 20, 68);
  text-decoration: none;
  transition: 0.1s ease-in-out;
}
nav ul li a:hover {
  color: rgb(9, 240, 93);
  text-shadow: 0 0 4px #011431;
}


.material-symbols-outlined {
  font-variant: none;
  text-decoration: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.intro {
  display: flex;
  text-align: left;
}

.reason {
  font-size: 18px;
  font-family: "Barlow Condensed", "Century Gothic", sans-serif;
  text-align: left;
}

.container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  width: 300px;
  padding: 10px 10px;
}

#portrait {
  width: 200px;
  height: auto;
  filter: drop-shadow(10px 10px 5px #273c5c);
  transition: 200ms ease-in-out;
}
#portrait:hover {
  filter: drop-shadow(5px 5px 5px  #1a0444);
}

td{
  padding: 40px;
  filter: drop-shadow(10px 10px 5px #273c5c);
  transition: 100ms ease-in-out;
}

td:hover {
  filter: drop-shadow(5px 5px 3px #3d05a5);
  max-width: 110%;
  background-position: right center;
}

.intro{
  font-size: 30px;
}
h1 {
  margin: 0px;
  font-family: "Zilla Slab", "Century Gothic", serif;
  text-align: left;
  color: rgb(2, 20, 68);
}

h2 {
  margin: auto;
  padding: 20px, 0px, 100px 0px;
  font-family: "Zilla Slab", "Century Gothic", serif;
  font-size: xx-large;
  color: rgb(2, 20, 68);
}

h1.page, h2.page{
  margin: auto;
  padding: 10px 0px 50px 0px;
  text-align: center;
}

p {
  color: rgb(0, 0, 0);
  border: 0;
  margin: auto;
  padding: 0px;
  font-size: 18px;
  font-family: "Barlow Condensed", "Century Gothic", sans-serif;
  text-align: left;
}

a {
  text-decoration: none;
  cursor:pointer;
}


footer {
  display:block;
  text-align:center;
  margin: auto;
  padding-top: 100px;
  color: rgb(167, 240, 159);
}
.footer{
  background-color: #011431;
  width: 100%;
  height:200px;
}






.typewriter {
  font-size: 35px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  max-width: 280px;
  border-right: 0.10em solid #011431; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 12s steps(100, end), blink-caret 0.9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #034470;
  }
}




